<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #first
        {
        margin-left:400px;
        margin-top:200px;
        }
    </style>
</head>
<body>
<div id="first">
<h1>Login Page</h1>
<form action="process-login" method="post">
    <input type="email" name="mail" placeholder="Email" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <input type="submit" value="Login"><br><br>
    <p><a href="http://localhost:8899/email/api/forgot-password" >Forgot Password?</a></p>
</form>
</div>
</body>
</html>